.App {
	min-height: 100vh;
	background-image: linear-gradient(
		-225deg,
		#473b7b 0%,
		#3584a7 51%,
		#30d2be 100%
	);
}
.search-form {
	min-height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-bar {
	width: 50%;
	height: 20%;
	border: none;
	border-radius: 7px;
	padding: 10px;
}

.search-button {
	background-color: lightcoral;
	padding: 8px 20px;
	color: white;
	margin-left: 2px;
}
.search-button:hover {
	background-color: lightcoral;
}
