.App {
	min-height: 100vh;
	background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
.search-form {
	min-height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-bar {
	width: 40%;
	height: 20%;
	border: none;
	border-radius: 7px;
	padding: 10px;
}


.search-button {
	background-color: lightcoral;
	padding: 8px 20px;
	color: white;
}
